* {
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
}

div {
  width: 60px;
  height: 60px;
  margin: 25px;
}
.Square1 {
  border: 1px solid blue;
}
.Square2 {
  border: 1px solid rgb(3, 3, 48);
  position: relative;
  left: 80px;
}
.Square3 {
  border: 1px solid red;
  position: relative;
  left: 160px;
}
